
.DS_Store
.gitattributes
.ipynb_checkpoints/
00-intro.ipynb
__pycache__/_classes.cpython-312.pyc
data/
sessions/
analytics/visualization/
__README_economics_rus.ipynb
analytics/.ipynb_checkpoints/
analytics/.ipynb_checkpoints/README-checkpoint.md
img/Alchohol spendings as fraction of spendings town.png
img/Alchohol spendings as fraction of spendings town.png
img/Alchohol spendings as fraction of spendings town.png
__pycache__
